[Unit]
Description=Run WARP gateway health checks

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=warp-gateway-healthcheck.service

[Install]
WantedBy=timers.target
